/* dashboard.component.css */
.container {
  display: flex;
  align-items: center;
}

.left-column {
  width: 100px; /* Adjust width as needed */
  font-weight: bold;
  padding: 10px;
}

.boxes-container {
  display: flex;
  gap: 10px;
}

.box {
  padding: 10px;
  background-color: lightgray;
  border: 1px solid #ccc;
}

  /* Styling for the logout button */
  .logout-button {
    margin-top: 20px;
    background-color: #ff4d4d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .logout-button:hover {
    background-color: #ff0000;
  }
